* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--color-white);
    /*cor de todas as fontes que não tiverem atributo de cor própria*/
}

:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-green1: #3db36b;
    --color-green2: #0f642f;
    ;
}

.header_bar {
    background-color: var(--color-green1);
    height: 56px;
    /*ou (3.5em = 3,5 x 16) = 56px*/
    text-align: center;
    display: flex;
    /*deixa um bloco ao lado do outro*/
    /*flex-direction: column; deixa um elemento em baixo do outro em formato de coluna*/
    flex-direction: row;
    /*deixa um elemento ao lado do outro linha (vem por default)*/
    align-items: center;
    justify-content: space-between;
    /*distancia entre os blocos, sempre ao extremo*/
    padding: 0 10%;
    /* espaçamentos apenas na direit/esquerda*/
}

.header_bar h1 {
    width: 45px;
}

.nav_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.nav_header a {
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}

.nav_header a:hover {
    color: var(--color-green1);
    transition: 1s;
}

/*aqui deve ser feito posteriormente com JS*/
.active {
    background-color: var(--color-green2);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.container {
    background-color: var(--color-dark1);
    min-height: 60vh;
    padding: 25px;
    transition: 1s;
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-dark2);
}

.card {
    width: 31%;
    display: inline-block;
    /* Adicione regras de estilo específicas para os cartões, se necessário */
    margin: 1% 1%;
    /*1% cima/baixo e laterais*/
}

.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    /*espaço entre a imagem e oq estiver abaixo*/
    background-position: center;
    background-size: cover;
    /*tenta mostrar o max possível da imagem na área definida*/
    background-color: gray;
}

#img-1 {
    background-image: url('../img/tenis1.jpg');
}

#img-2 {
    background-image: url('../img/tenis2.jpg');
}

#img-3 {
    background-image: url('../img/tenis3.jpg');
}

#img-4 {
    background-image: url('../img/tenis4.jpg');
}

#img-5 {
    background-image: url('../img/tenis5.jpg');
}

#img-6 {
    background-image: url('../img/tenis6.jpg');
}

.product-text {
    margin-bottom: 0px;
}

.product-text h3 {
    text-align: left;
    color: #3db36b;
    border-left: 15px solid var(--color-green2);
    /*adiciona uma pequena linha vertical ao lado do título*/
    padding: 0px 0px 0px 20px;
    margin-bottom: 8px;
    font-size: 24px;
}

.product-text p {
    margin-bottom: 8px;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-green1);
    padding: 15px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--color-green2);
}

footer {
    background-color: var(--color-green1);
    text-align: center;
    padding: 80px;
    /* Adicione regras de estilo específicas para o rodapé, se necessário */
}

/* Tablet */
@media (max-width: 1000px) {
    .container {
        padding: 0px;
    }

    .products-container {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0px;
    }

    .card {
        width: 40%;
        text-align: center;
        display: inline-block;
        /* Adicione regras de estilo específicas para os cartões, se necessário */
        margin: 30px;
        /*1% cima/baixo e laterais*/
        padding: 0px;
    }

    #img-1 {
        margin-top: 0px;
    }

    h3 {
        border-left: 30px solid #137e3c;
        /*adiciona uma pequena linha vertical ao lado do título*/
        padding-left: 10px;
    }

    .btn {
        margin-bottom: 40px;
    }

    footer {
        padding: 40px;
    }
}


/* Smartphone */
@media (max-width: 640px) {

    /*
    background-color: var(--color-dark4);
    margin-left: 20px;
    margin-right: 20px;
    */
    .nav_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        z-index: 2;
    }

    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }
        top {
            margin-left: -10vw;
        }
    }

    .btn_icon_header {
        display: block;
    }


    .card {
        width: 100%;
        margin: 0% 0;
        padding: 0px;
    }

    #img-1 {
        margin-top: 10px;
    }

    .product-text {
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .product-text h3 {
        text-align: left;
        color: #3db36b;
        border-left: 15px solid var(--color-green2);
        /*adiciona uma pequena linha vertical ao lado do título*/
        padding: 0px 0px 0px 20px;
        margin-bottom: 8px;
        font-size: 24px;
    }

    .btn {
        margin-bottom: 40px;
    }

    .container {
        padding: 0px;
    }

    footer {
        padding: 40px;
    }
}

/* Smartwatch*/
@media (max-width: 260px) {
    header {
        padding: 5px;
        text-align: center;
        border-bottom: 2px solid #0f642f;
    }

    header h1 {
        font-size: 15px;
    }

    .nav_header {
        height: 300px;
        width: 60vw;
    }

    .card {
        width: 100%;
        margin: 0% 0;
        padding: 0px;
    }

    .product-image {
        height: 100px;
    }

    #img-1 {
        margin-top: 5px;
    }

    .product-text {
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .product-text h3 {
        text-align: left;
        color: #3db36b;
        border-left: 15px solid var(--color-green2);
        /*adiciona uma pequena linha vertical ao lado do título*/
        padding: 0px 0px 0px 10px;
        margin-bottom: 3px;
        font-size: 24px;
    }

    .btn {
        margin-bottom: 20px;
        padding: 7px 0px 5px 0px;
    }

    .container {
        padding: 0px;
    }

    footer {
        padding: 20px;
    }
}